.tree{
    width: 100%;
    height: 100%;
    img{
        width: 90%;
        height: 100%;
    }
}
.tree.shaken{
    img{
        animation: shake 3s ease-in-out;
    }
}

@keyframes shake{
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(0.75em);
    }
    10%,
    30%,
    50%{
        transform: translate(-0.2em);
    }
    70%,
    100%{
        transform: translate(0);
    }
}